@import "node_modules/bourbon-neat/core/neat";

// !-- Mixins -- //

@mixin for-phone-only {
	@media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
	@media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
	@media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
	@media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
	@media (min-width: 1800px) { @content; }
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/* !-- The grid -- */

$neat-grid: (
	columns: 12,
	gutter: 20px,
);

.container {
	@include grid-container;
}

.collapse {
	@include grid-collapse;
}

.row {
	@include clearfix;
	clear: both;
}

.vert {
	margin-top: 20px;
	margin-bottom: 20px;
}

.vert-top {
	margin-top: 20px;
}

.vert-bottom {
	margin-bottom: 20px;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		@include grid-column($i);
		box-sizing: border-box;
	}
}

@for $i from 1 through 12 {
	.push-#{$i} {
		@include grid-push($i);
	}
	.shift-left-#{$i} {
		@include grid-shift(-$i);
	}
	.shift-right-#{$i} {
		@include grid-shift($i);
	}
}

@include for-phone-only {
	@for $i from 1 through 12 {
		.phone-#{$i} {
			@include grid-column($i);
			box-sizing: border-box;
		}
	}
	@for $i from 1 through 12 {
		.phone-push-#{$i} {
			@include grid-push($i);
		}
		.phone-shift-left-#{$i} {
			@include grid-shift(-$i);
		}
		.phone-shift-right-#{$i} {
			@include grid-shift($i);
		}
	}
}

@include for-tablet-portrait-up {
	@for $i from 1 through 12 {
		.tablet-port-#{$i} {
			@include grid-column($i);
			box-sizing: border-box;
		}
	}
	@for $i from 1 through 12 {
		.tablet-port-push-#{$i} {
			@include grid-push($i);
		}
		.tablet-port-shift-left-#{$i} {
			@include grid-shift(-$i);
		}
		.tablet-port-shift-right-#{$i} {
			@include grid-shift($i);
		}
	}
}

@include for-tablet-landscape-up {
	@for $i from 1 through 12 {
		.tablet-land-#{$i} {
			@include grid-column($i);
			box-sizing: border-box;
		}
	}
	@for $i from 1 through 12 {
		.tablet-land-push-#{$i} {
			@include grid-push($i);
		}
		.tablet-land-shift-left-#{$i} {
			@include grid-shift(-$i);
		}
		.tablet-land-shift-right-#{$i} {
			@include grid-shift($i);
		}
	}
}

@include for-desktop-up {
	@for $i from 1 through 12 {
		.desktop-#{$i} {
			@include grid-column($i);
			box-sizing: border-box;
		}
	}
	@for $i from 1 through 12 {
		.desktop-push-#{$i} {
			@include grid-push($i);
		}
		.desktop-shift-left-#{$i} {
			@include grid-shift(-$i);
		}
		.desktop-shift-right-#{$i} {
			@include grid-shift($i);
		}
	}
}

@include for-big-desktop-up {
	@for $i from 1 through 12 {
		.big-#{$i} {
			@include grid-column($i);
			box-sizing: border-box;
		}
	}
	@for $i from 1 through 12 {
		.big-push-#{$i} {
			@include grid-push($i);
		}
		.big-shift-left-#{$i} {
			@include grid-shift(-$i);
		}
		.big-shift-right-#{$i} {
			@include grid-shift($i);
		}
	}
}