/* !-- The grid -- */
.container::after {
  clear: both;
  content: "";
  display: block; }

.collapse {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px); }

.row {
  clear: both; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.vert {
  margin-top: 20px;
  margin-bottom: 20px; }

.vert-top {
  margin-top: 20px; }

.vert-bottom {
  margin-bottom: 20px; }

.col-1 {
  width: calc(8.33333% - 21.66667px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-2 {
  width: calc(16.66667% - 23.33333px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-3 {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-4 {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-5 {
  width: calc(41.66667% - 28.33333px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-6 {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-7 {
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-8 {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-9 {
  width: calc(75% - 35px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-10 {
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-11 {
  width: calc(91.66667% - 38.33333px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.col-12 {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  box-sizing: border-box; }

.push-1 {
  margin-left: calc(8.33333% - 21.66667px + 40px); }

.shift-left-1 {
  left: calc(-8.33333% - 18.33333px + 20px);
  position: relative; }

.shift-right-1 {
  left: calc(8.33333% - 21.66667px + 20px);
  position: relative; }

.push-2 {
  margin-left: calc(16.66667% - 23.33333px + 40px); }

.shift-left-2 {
  left: calc(-16.66667% - 16.66667px + 20px);
  position: relative; }

.shift-right-2 {
  left: calc(16.66667% - 23.33333px + 20px);
  position: relative; }

.push-3 {
  margin-left: calc(25% - 25px + 40px); }

.shift-left-3 {
  left: calc(-25% - 15px + 20px);
  position: relative; }

.shift-right-3 {
  left: calc(25% - 25px + 20px);
  position: relative; }

.push-4 {
  margin-left: calc(33.33333% - 26.66667px + 40px); }

.shift-left-4 {
  left: calc(-33.33333% - 13.33333px + 20px);
  position: relative; }

.shift-right-4 {
  left: calc(33.33333% - 26.66667px + 20px);
  position: relative; }

.push-5 {
  margin-left: calc(41.66667% - 28.33333px + 40px); }

.shift-left-5 {
  left: calc(-41.66667% - 11.66667px + 20px);
  position: relative; }

.shift-right-5 {
  left: calc(41.66667% - 28.33333px + 20px);
  position: relative; }

.push-6 {
  margin-left: calc(50% - 30px + 40px); }

.shift-left-6 {
  left: calc(-50% - 10px + 20px);
  position: relative; }

.shift-right-6 {
  left: calc(50% - 30px + 20px);
  position: relative; }

.push-7 {
  margin-left: calc(58.33333% - 31.66667px + 40px); }

.shift-left-7 {
  left: calc(-58.33333% - 8.33333px + 20px);
  position: relative; }

.shift-right-7 {
  left: calc(58.33333% - 31.66667px + 20px);
  position: relative; }

.push-8 {
  margin-left: calc(66.66667% - 33.33333px + 40px); }

.shift-left-8 {
  left: calc(-66.66667% - 6.66667px + 20px);
  position: relative; }

.shift-right-8 {
  left: calc(66.66667% - 33.33333px + 20px);
  position: relative; }

.push-9 {
  margin-left: calc(75% - 35px + 40px); }

.shift-left-9 {
  left: calc(-75% - 5px + 20px);
  position: relative; }

.shift-right-9 {
  left: calc(75% - 35px + 20px);
  position: relative; }

.push-10 {
  margin-left: calc(83.33333% - 36.66667px + 40px); }

.shift-left-10 {
  left: calc(-83.33333% - 3.33333px + 20px);
  position: relative; }

.shift-right-10 {
  left: calc(83.33333% - 36.66667px + 20px);
  position: relative; }

.push-11 {
  margin-left: calc(91.66667% - 38.33333px + 40px); }

.shift-left-11 {
  left: calc(-91.66667% - 1.66667px + 20px);
  position: relative; }

.shift-right-11 {
  left: calc(91.66667% - 38.33333px + 20px);
  position: relative; }

.push-12 {
  margin-left: calc(100% - 40px + 40px); }

.shift-left-12 {
  left: calc(-100% - 0px + 20px);
  position: relative; }

.shift-right-12 {
  left: calc(100% - 40px + 20px);
  position: relative; }

@media (max-width: 599px) {
  .phone-1 {
    width: calc(8.33333% - 21.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-2 {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-4 {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-5 {
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-7 {
    width: calc(58.33333% - 31.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-8 {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-10 {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-11 {
    width: calc(91.66667% - 38.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .phone-push-1 {
    margin-left: calc(8.33333% - 21.66667px + 40px); }

  .phone-shift-left-1 {
    left: calc(-8.33333% - 18.33333px + 20px);
    position: relative; }

  .phone-shift-right-1 {
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative; }

  .phone-push-2 {
    margin-left: calc(16.66667% - 23.33333px + 40px); }

  .phone-shift-left-2 {
    left: calc(-16.66667% - 16.66667px + 20px);
    position: relative; }

  .phone-shift-right-2 {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative; }

  .phone-push-3 {
    margin-left: calc(25% - 25px + 40px); }

  .phone-shift-left-3 {
    left: calc(-25% - 15px + 20px);
    position: relative; }

  .phone-shift-right-3 {
    left: calc(25% - 25px + 20px);
    position: relative; }

  .phone-push-4 {
    margin-left: calc(33.33333% - 26.66667px + 40px); }

  .phone-shift-left-4 {
    left: calc(-33.33333% - 13.33333px + 20px);
    position: relative; }

  .phone-shift-right-4 {
    left: calc(33.33333% - 26.66667px + 20px);
    position: relative; }

  .phone-push-5 {
    margin-left: calc(41.66667% - 28.33333px + 40px); }

  .phone-shift-left-5 {
    left: calc(-41.66667% - 11.66667px + 20px);
    position: relative; }

  .phone-shift-right-5 {
    left: calc(41.66667% - 28.33333px + 20px);
    position: relative; }

  .phone-push-6 {
    margin-left: calc(50% - 30px + 40px); }

  .phone-shift-left-6 {
    left: calc(-50% - 10px + 20px);
    position: relative; }

  .phone-shift-right-6 {
    left: calc(50% - 30px + 20px);
    position: relative; }

  .phone-push-7 {
    margin-left: calc(58.33333% - 31.66667px + 40px); }

  .phone-shift-left-7 {
    left: calc(-58.33333% - 8.33333px + 20px);
    position: relative; }

  .phone-shift-right-7 {
    left: calc(58.33333% - 31.66667px + 20px);
    position: relative; }

  .phone-push-8 {
    margin-left: calc(66.66667% - 33.33333px + 40px); }

  .phone-shift-left-8 {
    left: calc(-66.66667% - 6.66667px + 20px);
    position: relative; }

  .phone-shift-right-8 {
    left: calc(66.66667% - 33.33333px + 20px);
    position: relative; }

  .phone-push-9 {
    margin-left: calc(75% - 35px + 40px); }

  .phone-shift-left-9 {
    left: calc(-75% - 5px + 20px);
    position: relative; }

  .phone-shift-right-9 {
    left: calc(75% - 35px + 20px);
    position: relative; }

  .phone-push-10 {
    margin-left: calc(83.33333% - 36.66667px + 40px); }

  .phone-shift-left-10 {
    left: calc(-83.33333% - 3.33333px + 20px);
    position: relative; }

  .phone-shift-right-10 {
    left: calc(83.33333% - 36.66667px + 20px);
    position: relative; }

  .phone-push-11 {
    margin-left: calc(91.66667% - 38.33333px + 40px); }

  .phone-shift-left-11 {
    left: calc(-91.66667% - 1.66667px + 20px);
    position: relative; }

  .phone-shift-right-11 {
    left: calc(91.66667% - 38.33333px + 20px);
    position: relative; }

  .phone-push-12 {
    margin-left: calc(100% - 40px + 40px); }

  .phone-shift-left-12 {
    left: calc(-100% - 0px + 20px);
    position: relative; }

  .phone-shift-right-12 {
    left: calc(100% - 40px + 20px);
    position: relative; } }
@media (min-width: 600px) {
  .tablet-port-1 {
    width: calc(8.33333% - 21.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-2 {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-4 {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-5 {
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-7 {
    width: calc(58.33333% - 31.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-8 {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-10 {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-11 {
    width: calc(91.66667% - 38.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-port-push-1 {
    margin-left: calc(8.33333% - 21.66667px + 40px); }

  .tablet-port-shift-left-1 {
    left: calc(-8.33333% - 18.33333px + 20px);
    position: relative; }

  .tablet-port-shift-right-1 {
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative; }

  .tablet-port-push-2 {
    margin-left: calc(16.66667% - 23.33333px + 40px); }

  .tablet-port-shift-left-2 {
    left: calc(-16.66667% - 16.66667px + 20px);
    position: relative; }

  .tablet-port-shift-right-2 {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative; }

  .tablet-port-push-3 {
    margin-left: calc(25% - 25px + 40px); }

  .tablet-port-shift-left-3 {
    left: calc(-25% - 15px + 20px);
    position: relative; }

  .tablet-port-shift-right-3 {
    left: calc(25% - 25px + 20px);
    position: relative; }

  .tablet-port-push-4 {
    margin-left: calc(33.33333% - 26.66667px + 40px); }

  .tablet-port-shift-left-4 {
    left: calc(-33.33333% - 13.33333px + 20px);
    position: relative; }

  .tablet-port-shift-right-4 {
    left: calc(33.33333% - 26.66667px + 20px);
    position: relative; }

  .tablet-port-push-5 {
    margin-left: calc(41.66667% - 28.33333px + 40px); }

  .tablet-port-shift-left-5 {
    left: calc(-41.66667% - 11.66667px + 20px);
    position: relative; }

  .tablet-port-shift-right-5 {
    left: calc(41.66667% - 28.33333px + 20px);
    position: relative; }

  .tablet-port-push-6 {
    margin-left: calc(50% - 30px + 40px); }

  .tablet-port-shift-left-6 {
    left: calc(-50% - 10px + 20px);
    position: relative; }

  .tablet-port-shift-right-6 {
    left: calc(50% - 30px + 20px);
    position: relative; }

  .tablet-port-push-7 {
    margin-left: calc(58.33333% - 31.66667px + 40px); }

  .tablet-port-shift-left-7 {
    left: calc(-58.33333% - 8.33333px + 20px);
    position: relative; }

  .tablet-port-shift-right-7 {
    left: calc(58.33333% - 31.66667px + 20px);
    position: relative; }

  .tablet-port-push-8 {
    margin-left: calc(66.66667% - 33.33333px + 40px); }

  .tablet-port-shift-left-8 {
    left: calc(-66.66667% - 6.66667px + 20px);
    position: relative; }

  .tablet-port-shift-right-8 {
    left: calc(66.66667% - 33.33333px + 20px);
    position: relative; }

  .tablet-port-push-9 {
    margin-left: calc(75% - 35px + 40px); }

  .tablet-port-shift-left-9 {
    left: calc(-75% - 5px + 20px);
    position: relative; }

  .tablet-port-shift-right-9 {
    left: calc(75% - 35px + 20px);
    position: relative; }

  .tablet-port-push-10 {
    margin-left: calc(83.33333% - 36.66667px + 40px); }

  .tablet-port-shift-left-10 {
    left: calc(-83.33333% - 3.33333px + 20px);
    position: relative; }

  .tablet-port-shift-right-10 {
    left: calc(83.33333% - 36.66667px + 20px);
    position: relative; }

  .tablet-port-push-11 {
    margin-left: calc(91.66667% - 38.33333px + 40px); }

  .tablet-port-shift-left-11 {
    left: calc(-91.66667% - 1.66667px + 20px);
    position: relative; }

  .tablet-port-shift-right-11 {
    left: calc(91.66667% - 38.33333px + 20px);
    position: relative; }

  .tablet-port-push-12 {
    margin-left: calc(100% - 40px + 40px); }

  .tablet-port-shift-left-12 {
    left: calc(-100% - 0px + 20px);
    position: relative; }

  .tablet-port-shift-right-12 {
    left: calc(100% - 40px + 20px);
    position: relative; } }
@media (min-width: 900px) {
  .tablet-land-1 {
    width: calc(8.33333% - 21.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-2 {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-4 {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-5 {
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-7 {
    width: calc(58.33333% - 31.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-8 {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-10 {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-11 {
    width: calc(91.66667% - 38.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .tablet-land-push-1 {
    margin-left: calc(8.33333% - 21.66667px + 40px); }

  .tablet-land-shift-left-1 {
    left: calc(-8.33333% - 18.33333px + 20px);
    position: relative; }

  .tablet-land-shift-right-1 {
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative; }

  .tablet-land-push-2 {
    margin-left: calc(16.66667% - 23.33333px + 40px); }

  .tablet-land-shift-left-2 {
    left: calc(-16.66667% - 16.66667px + 20px);
    position: relative; }

  .tablet-land-shift-right-2 {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative; }

  .tablet-land-push-3 {
    margin-left: calc(25% - 25px + 40px); }

  .tablet-land-shift-left-3 {
    left: calc(-25% - 15px + 20px);
    position: relative; }

  .tablet-land-shift-right-3 {
    left: calc(25% - 25px + 20px);
    position: relative; }

  .tablet-land-push-4 {
    margin-left: calc(33.33333% - 26.66667px + 40px); }

  .tablet-land-shift-left-4 {
    left: calc(-33.33333% - 13.33333px + 20px);
    position: relative; }

  .tablet-land-shift-right-4 {
    left: calc(33.33333% - 26.66667px + 20px);
    position: relative; }

  .tablet-land-push-5 {
    margin-left: calc(41.66667% - 28.33333px + 40px); }

  .tablet-land-shift-left-5 {
    left: calc(-41.66667% - 11.66667px + 20px);
    position: relative; }

  .tablet-land-shift-right-5 {
    left: calc(41.66667% - 28.33333px + 20px);
    position: relative; }

  .tablet-land-push-6 {
    margin-left: calc(50% - 30px + 40px); }

  .tablet-land-shift-left-6 {
    left: calc(-50% - 10px + 20px);
    position: relative; }

  .tablet-land-shift-right-6 {
    left: calc(50% - 30px + 20px);
    position: relative; }

  .tablet-land-push-7 {
    margin-left: calc(58.33333% - 31.66667px + 40px); }

  .tablet-land-shift-left-7 {
    left: calc(-58.33333% - 8.33333px + 20px);
    position: relative; }

  .tablet-land-shift-right-7 {
    left: calc(58.33333% - 31.66667px + 20px);
    position: relative; }

  .tablet-land-push-8 {
    margin-left: calc(66.66667% - 33.33333px + 40px); }

  .tablet-land-shift-left-8 {
    left: calc(-66.66667% - 6.66667px + 20px);
    position: relative; }

  .tablet-land-shift-right-8 {
    left: calc(66.66667% - 33.33333px + 20px);
    position: relative; }

  .tablet-land-push-9 {
    margin-left: calc(75% - 35px + 40px); }

  .tablet-land-shift-left-9 {
    left: calc(-75% - 5px + 20px);
    position: relative; }

  .tablet-land-shift-right-9 {
    left: calc(75% - 35px + 20px);
    position: relative; }

  .tablet-land-push-10 {
    margin-left: calc(83.33333% - 36.66667px + 40px); }

  .tablet-land-shift-left-10 {
    left: calc(-83.33333% - 3.33333px + 20px);
    position: relative; }

  .tablet-land-shift-right-10 {
    left: calc(83.33333% - 36.66667px + 20px);
    position: relative; }

  .tablet-land-push-11 {
    margin-left: calc(91.66667% - 38.33333px + 40px); }

  .tablet-land-shift-left-11 {
    left: calc(-91.66667% - 1.66667px + 20px);
    position: relative; }

  .tablet-land-shift-right-11 {
    left: calc(91.66667% - 38.33333px + 20px);
    position: relative; }

  .tablet-land-push-12 {
    margin-left: calc(100% - 40px + 40px); }

  .tablet-land-shift-left-12 {
    left: calc(-100% - 0px + 20px);
    position: relative; }

  .tablet-land-shift-right-12 {
    left: calc(100% - 40px + 20px);
    position: relative; } }
@media (min-width: 1200px) {
  .desktop-1 {
    width: calc(8.33333% - 21.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-2 {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-4 {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-5 {
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-7 {
    width: calc(58.33333% - 31.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-8 {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-10 {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-11 {
    width: calc(91.66667% - 38.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .desktop-push-1 {
    margin-left: calc(8.33333% - 21.66667px + 40px); }

  .desktop-shift-left-1 {
    left: calc(-8.33333% - 18.33333px + 20px);
    position: relative; }

  .desktop-shift-right-1 {
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative; }

  .desktop-push-2 {
    margin-left: calc(16.66667% - 23.33333px + 40px); }

  .desktop-shift-left-2 {
    left: calc(-16.66667% - 16.66667px + 20px);
    position: relative; }

  .desktop-shift-right-2 {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative; }

  .desktop-push-3 {
    margin-left: calc(25% - 25px + 40px); }

  .desktop-shift-left-3 {
    left: calc(-25% - 15px + 20px);
    position: relative; }

  .desktop-shift-right-3 {
    left: calc(25% - 25px + 20px);
    position: relative; }

  .desktop-push-4 {
    margin-left: calc(33.33333% - 26.66667px + 40px); }

  .desktop-shift-left-4 {
    left: calc(-33.33333% - 13.33333px + 20px);
    position: relative; }

  .desktop-shift-right-4 {
    left: calc(33.33333% - 26.66667px + 20px);
    position: relative; }

  .desktop-push-5 {
    margin-left: calc(41.66667% - 28.33333px + 40px); }

  .desktop-shift-left-5 {
    left: calc(-41.66667% - 11.66667px + 20px);
    position: relative; }

  .desktop-shift-right-5 {
    left: calc(41.66667% - 28.33333px + 20px);
    position: relative; }

  .desktop-push-6 {
    margin-left: calc(50% - 30px + 40px); }

  .desktop-shift-left-6 {
    left: calc(-50% - 10px + 20px);
    position: relative; }

  .desktop-shift-right-6 {
    left: calc(50% - 30px + 20px);
    position: relative; }

  .desktop-push-7 {
    margin-left: calc(58.33333% - 31.66667px + 40px); }

  .desktop-shift-left-7 {
    left: calc(-58.33333% - 8.33333px + 20px);
    position: relative; }

  .desktop-shift-right-7 {
    left: calc(58.33333% - 31.66667px + 20px);
    position: relative; }

  .desktop-push-8 {
    margin-left: calc(66.66667% - 33.33333px + 40px); }

  .desktop-shift-left-8 {
    left: calc(-66.66667% - 6.66667px + 20px);
    position: relative; }

  .desktop-shift-right-8 {
    left: calc(66.66667% - 33.33333px + 20px);
    position: relative; }

  .desktop-push-9 {
    margin-left: calc(75% - 35px + 40px); }

  .desktop-shift-left-9 {
    left: calc(-75% - 5px + 20px);
    position: relative; }

  .desktop-shift-right-9 {
    left: calc(75% - 35px + 20px);
    position: relative; }

  .desktop-push-10 {
    margin-left: calc(83.33333% - 36.66667px + 40px); }

  .desktop-shift-left-10 {
    left: calc(-83.33333% - 3.33333px + 20px);
    position: relative; }

  .desktop-shift-right-10 {
    left: calc(83.33333% - 36.66667px + 20px);
    position: relative; }

  .desktop-push-11 {
    margin-left: calc(91.66667% - 38.33333px + 40px); }

  .desktop-shift-left-11 {
    left: calc(-91.66667% - 1.66667px + 20px);
    position: relative; }

  .desktop-shift-right-11 {
    left: calc(91.66667% - 38.33333px + 20px);
    position: relative; }

  .desktop-push-12 {
    margin-left: calc(100% - 40px + 40px); }

  .desktop-shift-left-12 {
    left: calc(-100% - 0px + 20px);
    position: relative; }

  .desktop-shift-right-12 {
    left: calc(100% - 40px + 20px);
    position: relative; } }
@media (min-width: 1800px) {
  .big-1 {
    width: calc(8.33333% - 21.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-2 {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-4 {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-5 {
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-7 {
    width: calc(58.33333% - 31.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-8 {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-10 {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-11 {
    width: calc(91.66667% - 38.33333px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    box-sizing: border-box; }

  .big-push-1 {
    margin-left: calc(8.33333% - 21.66667px + 40px); }

  .big-shift-left-1 {
    left: calc(-8.33333% - 18.33333px + 20px);
    position: relative; }

  .big-shift-right-1 {
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative; }

  .big-push-2 {
    margin-left: calc(16.66667% - 23.33333px + 40px); }

  .big-shift-left-2 {
    left: calc(-16.66667% - 16.66667px + 20px);
    position: relative; }

  .big-shift-right-2 {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative; }

  .big-push-3 {
    margin-left: calc(25% - 25px + 40px); }

  .big-shift-left-3 {
    left: calc(-25% - 15px + 20px);
    position: relative; }

  .big-shift-right-3 {
    left: calc(25% - 25px + 20px);
    position: relative; }

  .big-push-4 {
    margin-left: calc(33.33333% - 26.66667px + 40px); }

  .big-shift-left-4 {
    left: calc(-33.33333% - 13.33333px + 20px);
    position: relative; }

  .big-shift-right-4 {
    left: calc(33.33333% - 26.66667px + 20px);
    position: relative; }

  .big-push-5 {
    margin-left: calc(41.66667% - 28.33333px + 40px); }

  .big-shift-left-5 {
    left: calc(-41.66667% - 11.66667px + 20px);
    position: relative; }

  .big-shift-right-5 {
    left: calc(41.66667% - 28.33333px + 20px);
    position: relative; }

  .big-push-6 {
    margin-left: calc(50% - 30px + 40px); }

  .big-shift-left-6 {
    left: calc(-50% - 10px + 20px);
    position: relative; }

  .big-shift-right-6 {
    left: calc(50% - 30px + 20px);
    position: relative; }

  .big-push-7 {
    margin-left: calc(58.33333% - 31.66667px + 40px); }

  .big-shift-left-7 {
    left: calc(-58.33333% - 8.33333px + 20px);
    position: relative; }

  .big-shift-right-7 {
    left: calc(58.33333% - 31.66667px + 20px);
    position: relative; }

  .big-push-8 {
    margin-left: calc(66.66667% - 33.33333px + 40px); }

  .big-shift-left-8 {
    left: calc(-66.66667% - 6.66667px + 20px);
    position: relative; }

  .big-shift-right-8 {
    left: calc(66.66667% - 33.33333px + 20px);
    position: relative; }

  .big-push-9 {
    margin-left: calc(75% - 35px + 40px); }

  .big-shift-left-9 {
    left: calc(-75% - 5px + 20px);
    position: relative; }

  .big-shift-right-9 {
    left: calc(75% - 35px + 20px);
    position: relative; }

  .big-push-10 {
    margin-left: calc(83.33333% - 36.66667px + 40px); }

  .big-shift-left-10 {
    left: calc(-83.33333% - 3.33333px + 20px);
    position: relative; }

  .big-shift-right-10 {
    left: calc(83.33333% - 36.66667px + 20px);
    position: relative; }

  .big-push-11 {
    margin-left: calc(91.66667% - 38.33333px + 40px); }

  .big-shift-left-11 {
    left: calc(-91.66667% - 1.66667px + 20px);
    position: relative; }

  .big-shift-right-11 {
    left: calc(91.66667% - 38.33333px + 20px);
    position: relative; }

  .big-push-12 {
    margin-left: calc(100% - 40px + 40px); }

  .big-shift-left-12 {
    left: calc(-100% - 0px + 20px);
    position: relative; }

  .big-shift-right-12 {
    left: calc(100% - 40px + 20px);
    position: relative; } }

/*# sourceMappingURL=grid.css.map */
